#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FTS_FIH
        bool "Focaltech Touchscreen"
		depends on I2C
		default n
		help
		  Say Y here if you have Focaltech touch panel.
		  If unsure, say N.

config TOUCHSCREEN_FTS_FIH_TESTS
        bool "Focaltech Touchscreen"
		depends on TOUCHSCREEN_FTS_FIH
		default n
		help
		  Say Y here if you have Focaltech touch panel.
		  If unsure, say N.

config TOUCHSCREEN_FTS_FIH_DIRECTORY
    string "Focaltech ts directory name"
    default "focaltech_touch_fih"
    depends on TOUCHSCREEN_FTS_FIH
    
